.character-list {
    max-width: 100%;
    padding: 5% 0 5% 0;
    background-color: black;
    color: #FFF;
}

.character-list .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    color: #49496F;
    font-size: 0.75em;
    justify-content: center;
}

.character-list h1 {
    padding: 2%;
}

.character-list .search-bar label input {
    background-color: #DDD;
    border: 1px solid #49496F;
}

.character-list .search-bar button {
    background-color: #DDD;
    border: 1px solid #49496F;
    color: #49496F;
}

.character-list .filter-sorted-menu {
    display: none;
}

.character-list article {
    background-color: #49496F;
    width: 90%;
    padding: 5%;
    margin: 5% auto 5% auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #DDD;
    border-radius: 5px;
}

.character-list article img {
    width: 100%;
    height: 300px;
    margin: auto;
}

.character-list article strong, a {
    padding: 1%;
    align-self: flex-end;
    color: azure;
}

.character-list article strong {
    font-size: 1.5em;
}

.character-list article a {
    background-color: #ACACB8;
    border-radius: 12px;
    border: 2px solid azure;
    font-size: 0.75em;
    padding: 2%;
    opacity: 0.75;
    color: azure;
    text-decoration: none;
    transition: all 0.2s;
}

.character-list article a:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .character-list {
        display: flex;
        flex-wrap: wrap;
    }

    .character-list .search-bar {
        width: 100%;
    }

    .character-list .search-bar h1 {
        font-size: 1.5em;
    }

    .character-list .search-bar label{
        font-size: 1.5em;
    }

    .character-list .search-bar button {
        font-size: 1.5em;
    }

    .character-list .character-card {
        margin-top: 2%;
        display: flex;
        flex-wrap: wrap;
    }

    .character-list .character-card article {
        padding: 2%;
        width: 40%;
        height: 480px;
        margin: 2% auto 2% auto;
    }

    .character-list .character-card img {
        margin: 0;
    }

    .character-list .character-card article strong {
        padding: 4%;
        font-size: 2em;
    }

    .character-list .character-card article a {
        padding: 4%;
        font-size: 1em;
    }
}

@media screen and (min-width: 1024px) {
    .character-list .filter-sorted-menu {
        padding: 2%;
        margin: 5% auto 5% 0;
        background-color: #49496F;
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .character-list .filter-sorted-menu h2{
        color: #dadada;
        padding: 4%;
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .character-list .filter-sorted-menu .orderby {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .character-list .filter-sorted-menu .orderby button {
        background-color: #ACACB8;
        border-radius: 12px;
        border: 2px solid azure;
        padding: 2%;
        margin: 2%;
        color: azure;
        width: 60%;

    }

    .character-list .skill-filter {
        display: flex;
        flex-direction: column;
    }

    .character-list .alignment-filter {
        display: flex;
        flex-direction: column;
    }

    .character-list .gender-filter {
        display: flex;
        flex-direction: column;
    }

    .character-list .character-card {
        width: 70%;
    }
}


@media screen and (min-width: 1280px) {
    .character-list .filter-sorted-menu {
        width: 380px;
    }

    .character-list .character-card article {
        width: 30%;
    }
}